*{
    font-family:"Roboto", sans-serif;;
}

.header_section{
    background-color:#F5F7FA;
    ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 30px;
    .logo{
        padding-top: 30px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-right: 90.01px;
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style: none;
            gap: 50px;
            li{
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .btn{
        padding-top: 22px;
      padding-right: 250px;

        button{
            width: 91px;
            height: 40px;
            font-size: 14px;
            font-weight: 500;
            gap: 10px;
            background-color:#4CAF4F;
            color: white;
            border-radius: 6px;
            border: #4CAF4F;
            
        }
            .Login{
                background-color: white;
                color: #4CAF4F;
                text-decoration: none;
                padding-top: 30px;
            }
      
         }
}

 .hero_container{
    background-color:#F5F7FA;
    ;
.hero_section{
    display: flex;
     justify-content: space-between;
     
    gap: 104px;
    .hero{
       padding: 161.5px 150px 161.5px 150px;
       h1{
        font-size: 64px;
        font-weight: 600;
        span{
            color: #4CAF4F;
        }
       }
       p{
        font-size: 16px;
        font-family: 400;
        
       }
       div{
        padding-top: 32px;
       button{
        width: 128px;
        height: 52px;
        border-radius: 4px;
        background-color: #4CAF4F;
        color: white;
        gap: 10px;
        border: #4CAF4F;
        
       }
    }
}
.hero_img{
     padding: 96px 144px 96px 104px;
     
    // margin: auto;
}
    
}
.photo{
    // margin: auto;
     padding-left: 900px;
}
}

.our_section{
    .our_contunainer{
        // width: 100%;
        // height: 190px;
        // padding: 0px 144px 0px 144px;
        gap: 16px;
        h2{
            font-size: 36px;
            font-weight: 600;
            text-align: center;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            text-align: center;
        }
    }
    .our_img{
        display: flex;
        justify-content: space-between;
        padding: 16px 144px 40px 144px;
        gap: 136px;

    }
}

.system_section{
    background-color:#FFFFFF;
    .system{
        gap: 18px;
        h2{
            font-size: 36px;
            font-weight: 600;
            text-align: center;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color:#717171;
            
        }
    }
    .system_img{
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
        padding: 10px 144px 52px 144px;
        div{
            width: 299px;
            height: 260px;
            
        }
        img{
            padding-left: 112px;
        }
        h3{
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
    }
}

.year_section{
    display: flex;
    justify-content: space-between;
    .year{
        width: 441.53px;
        height: 328.99px;
        padding: 42px 49px 48px 300px;
    }
    .year_container{
         padding: 82.5px 300px 82.5px 49px;
         width: 661px;
         height: 268px;
        //  gap: 32px;
        h2{
            font-size: 36px;
            font-weight: 600;
            
            // padding: 82.5px 144px 82.5px 49px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            // padding: 82.5px 144px 82.5px 49px;
        }
        button{
            width: 151px;
            height: 52px;
            background: #4CAF4F;
            color: white;
            border: #4CAF4F;
            border-radius: 4px;
            gap: 10px;
        }
    }
}

.helping_section{
     width: 1440px;
     height: 288px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 64px 144px;
   .helping{
    width: 540px;
    height: 120px;
    gap: 8px;
    h2{
        font-size: 36px;
        font-weight: 600;
        span{
            font-size: 36px;
            font-weight: 600;
            color: #4CAF4F;
        }
        p{
            font-size: 16px;
            font-weight: 400;
        }
    }
   }
    .helping2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 540px;
        height: 160px;
         gap: 40px;
        
        .helping_img{
            display: flex;
            justify-content: space-between;
            align-items:center ;
            gap: 16px;
            
        }
    }
}

.design_section{
    // width: 1440px;
    // height: 433.4px;
    display: flex;
    justify-content: space-between;
    .design{
         width: 441.53px;
         height: 433.4px;
        padding: 48px 49.47px 0px 300px;
        gap: 32px;
    }
    .design_container{
        width: 661px;
         height: 308px;
        gap: 32px;
        padding: 62.7px 300px 62.7px 49.47px;

        h2{
            font-size: 36px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            font-weight: 400;
        }
        button{
            width: 151px;
            height: 52px;
            background: #4CAF4F;
            color: white;
            border: #4CAF4F;
            border-radius: 4px;
            gap: 10px;
        }
    }
}

.section{
    background-color:#F5F7FA;
    display: flex;
    justify-content: space-between;
    .section11{
        width: 326px;
        height: 326px;
        border-radius: 8px;
        padding: 32px 78px 32px 250px;
    }
    .section22{
        width: 748px;
        height: 324px;
        gap: 32px;
        padding: 33px 270px 33px 20px;
        p{
            font-size: 16px;
            font-weight: 500;
           color: #717171;
        }
        h4{
            font-size: 20px;
            font-weight: 600;
            color: #4CAF4F;
        }
        .phy{
            font-size: 16px;
            font-weight: 400;
            color: #717171;
        }
       .logo44{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 32px 41px 33px 78px;
        .one{
            display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        
            img{
                // width: 48px;
                // height: 48px;
                // gap: 41px;
                margin-left: 1px;
            }
        }
       }
    }
}

.new_section{
    background-color: #F5F7FA;
    // margin-bottom: 95px;
    .new_container{
        text-align: center;
        h2{
            font-size: 36px;
            font-weight: 600;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            padding-top: 8px;
        }
    }
    .new_img{
        width: 368px;
        height: 366px;
        display: flex;
        align-items: center;
        justify-content: space-between;
         padding: 16px 144px 94.6px 400px;
        gap: 29px;
    }
}

.heading_demo{
    background-color: #F5F7FA;
    .demo{
        text-align: center;
        margin-bottom: 95px;
        h1{
            font-size: 68px;
            font-weight: 600;
        }
        button{
            width: 178px;
            height: 52px;
            padding: 14px 32px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            border-radius: 4px;
            background-color: #4CAF4F;
            color: #FFFFFF;
            border: #4CAF4F;
            margin-top: 20px;
            
        }
    }


}

footer{
    background-color: #263238;
    
.footer_section{
    padding: 64px 0px;
    display: flex;
    justify-content: space-between;
    // padding-top: 32px;
    .footer_logo{
        padding: 64px 125px 74.33px 165px;
    p{
        font-size: 14px;
        font-weight: 400;
        color: #F5F7FA;
        
    }
    
}
}
   .footer{
    padding: 30px 30px 64px 125px;
    gap: 24px;
    h4{
        font-size: 20px;
        font-weight: 600;
        color: #F5F7FA;
        padding-left: 35px;
        align-items: center;
        

    }
    ul{
        list-style: none;
        text-align: center;
        padding-right: 10px ;
       
        li{
            color: #F5F7FA;
             padding: 10px 10px 6px 8px;
            font-size: 14px;
            font-weight: 400;
            gap: 24px;
        }
    }
   }
   .footer12{
    padding: 30px 30px ;
    h4{
        font-size: 20px;
        font-weight: 600;
        color: #F5F7FA;
        padding-left: 50px;
        align-items: center;
        

    }
    ul{
        list-style: none;
        text-align: center;
        padding-right: 20px ;
       
        li{
            color: #F5F7FA;
             padding: 10px 40px 6px 8px;
            font-size: 14px;
            font-weight: 400;
            gap: 24px;
        }
    }
   }
   .footer13{
    padding: 30px 170px 108px 20px;
    h4{
        font-size: 20px;
        font-weight: 600;
        color: #F5F7FA;
        padding-left: 10px;
        align-items: center;
   }
   .input_section{
    padding-left: 5px;
    border: 1px solid black;
    background-color:#D9DBE1;
    border-radius: 8px;
    input{
        width: 200px;
        height: 52px;
        background-color:#D9DBE1;
        // border-radius: 8px;
        border: none;
        
        
    }

   }
}
}